
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel='shortcut icon' type='image/x-icon' href='Images/logo.png' />
		<title>BlendSpice6</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="./CSS/fonts/linearicon.css">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="./CSS/fonts/material-design.css">
		
		<!--ICOMOON FONT-->
		<link rel="stylesheet" href="./CSS/fonts/icomoon.css">

		<!-- METRO ICONIC FONT -->
		<link rel="stylesheet" href="./CSS/fonts/metro-icons.css">

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="./CSS/vendor/bootstrap.min.css">


		<!--FLEXISLIDER-->
		<link rel="stylesheet" type="text/css" href="./CSS/vendor/revolution-slider.css">
		<link rel="stylesheet" type="text/css" href="./CSS/vendor/revolution-slider2.css">
		<link rel="stylesheet" type="text/css" href="./CSS/vendor/revolution-slider3.css">

		<!-- owl-carousel -->
	    <link rel="stylesheet" href="./CSS/vendor/min-carousel.css">
	    <link rel="stylesheet" href="./CSS/vendor/carousel.css">

	    <!-- ANIMATE -->
	    <link rel="stylesheet" href="./CSS/animate.css">

	  

        <!-- SIDENAV MOBILE -->
        <link rel="stylesheet" href="./CSS/vendor/mobilenav.css">

	    <!-- STYLE CSS -->
		<link rel="stylesheet" href="./CSS/style.css" />
		
		<script src="./JS/cart.js" async></script>

		
		<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="23553c7b-e780-4b08-83a2-8f03b65cf606";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
	</head>
	
	<body class="preload">
		<form name="home" method="POST" >
	
		<!-- PAGE LOADER -->
		<div class="images-preloader">
		    <div id="preloader" class="rectangle-bounce">
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		    </div>
		</div>
		
		<header>
			<!-- HEADER ON DESKTOP -->

			<nav class="navbar navbar-desktop ">
					<div class="left">
							<a href="/front" class="logo">
								<img src="Images/logo.png" alt="img">
							</a>
						</div>
				
				
				<ul>
					<li>
						<a href="front">
							Home
						</a>
						
						
					</li>
					<li class="has-children">
							<a href="#">
								Page
							</a>
							<div class="sub-menu">
								<div class="wrapper">
									<ul>
										<li>
											<a href="about">About Us</a>
										</li>
										<li>
											<a href="contact">Contact Us</a>
										</li>
										
										<li >
											<a href="gallery">Gallery
												
											</a>
											
										</li>
										
										
									</ul>
								</div>
							</div>
						</li>
						<li>
						<a href="menu">
							Menu
						</a>
					</li>
					
					<li>
						<a href="shop">
							Shop
						</a>
					</li>
				</ul>
				
			</nav>

			<!-- HEADER ON MOBILE -->
			<nav class="navbar-mobile">
				<div class="container">
					<div class="heading">
						<div class="left">
							<a href="#" class="navbar-mobile__toggler">
								<span></span>
								<span></span>
								<span></span>
							</a>
						</div>
						<a href="front" class="logo">
								<img src="./Images/logo.png" alt="img">
							</a>
						
					</div>
				</div>
				<nav id="main-nav">
					<ul>
						<li class>
							<a href="front" >Home</a>
							
						</li>
						<li>
							<a href="#">
								Page
							</a>
							<ul>
								<li>
									<a href="about">About Us</a>
								</li>
								<li>
									<a href="contact">Contact Us</a>
								</li>
								
								<li>
									<a href="gallery">Gallery</a>
									
								</li>
								
							</ul>
						</li>
						<li>
							<a href="menu">
								Menu
							</a>
						</li>
						<li>
							<a href="shop">
								Shop
							</a>
						</li>
						
						
						
					</ul>
				</nav>
			</nav>
		

		</header>
		
		<main>

			<!-- SLIDE SHOW -->
		
				<div class="rev_slider_wrapper">
						<div id="rev_slider_8" class="rev_slider" data-version="5.4.5">
							<ul> 
								<li>
										<img src="Images/we1.jpg" class="rev-sliderbg" alt="">
										<div class="tp-caption tp-resizeme caption-1"
										data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-20px;opacity:0;","ease":"Power3.easeInOut"}]'
										data-x="center" 
										data-y="middle"
										data-fontsize="['72', '70', '65', '60', '60']" 
										data-voffset="['-100.5','-57', '-54', '-97', '-100']"
										data-textAlign="left"
										data-lineheight="inherit" 
										data-color=""
										>
											Experience the food
										</div>
							
										<div class="tp-caption tp-resizeme caption-2" 
										 data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-20px;opacity:0;","ease":"Power3.easeInOut"}]'
										data-x="center" 
										data-y="middle" 
										data-voffset="['47.5', '34', '37', '-6', '-9']" 
										data-fontsize="['20', '20', '20', '20', '25']"
										data-lineheight="inherit"
										style="font-weight: bolder"
										data-color="#8D8C8C"
										>
										With Blend Spice6 Caterers be ready for a ride full of flavours
										</div>
							
										<a href="shop" class="tp-caption tp-resizeme caption-btn au-btn round au-btn--hover" 
										data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:20px;opacity:0;","ease":"Power3.easeInOut"}]'
										data-x="center"
										data-y="middle"
										data-voffset="['146.5', '133', '136', '93', '90']"
										data-fontsize="['15', '18', '19',  '20', '25']" 
										data-lineheight="inherit"
										data-width="['172', '182', '190', '200', '252']" 
										data-height="['42', '42', '50', '50', '65']" 
										data-paddingtop="1"
										data-color=""
										style="font-weight: bold"
										>
											Create Your Menu
										</a>
									<div>
											
									</div>
									
								</li>
							</ul>
						</div>
					</div>
									    
			<!-- OUR BEST SERVICE -->
		    <section class="section-primary pt-150 pb-0">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-lg-6">
		    				<div class="service-image">
		    					<img src="./Images/try.jpg" alt="">
		    				</div>
			    		</div>
			    		<div class="col-lg-6">
			    			<div class="section-header mt-29">
								<h2>Our Best Service</h2>
								<span>~ Experiences on food ~</span>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="text-center service-col js-progress-circle" data-value="63" role="progressbar" data-color="#c19f60" data-empty-color="rgba(193,159,96,0.2">
										<div class="service-icon-box" >
											<div class="circle js-circle">
			                                    <span class="dot js-dot"></span>
			                                </div>
			                                <div class="service-icon-item">
			                                    <img src="images/service-icon-1.png" alt="">
			                                </div>
										</div>
										<div class="service-text">
											<h5>Creative</h5>
											<p>It is a long established fact that a reader will be distracted.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="text-center service-col js-progress-circle" data-value="80" role="progressbar" data-color="#c19f60" data-empty-color="rgba(193,159,96,0.2">
										<div class="service-icon-box" >
											<div class="circle js-circle">
			                                    <span class="dot js-dot"></span>
			                                </div>
			                                <div class="service-icon-item">
			                                    <img src="images/service-icon-2.png" alt="">
			                                </div>
										</div>
										<div class="service-text">
											<h5>Serve</h5>
											<p>Many desktop publishing packages and web page editors now use Lorem.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="text-center service-col js-progress-circle mb-md-0" data-value="90" role="progressbar" data-color="#c19f60" data-empty-color="rgba(193,159,96,0.2">
										<div class="service-icon-box" >
											<div class="circle js-circle">
			                                    <span class="dot js-dot"></span>
			                                </div>
			                                <div class="service-icon-item">
			                                    <img src="images/service-icon-3.png" alt="">
			                                </div>
										</div>
										<div class="service-text">
											<h5>Communication</h5>
											<p>There are many variations of passages of Lorem Ipsum available but the.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="text-center service-col js-progress-circle mb-0" data-value="80" role="progressbar" data-color="#c19f60" data-empty-color="rgba(193,159,96,0.2">
										<div class="service-icon-box" >
											<div class="circle js-circle">
			                                    <span class="dot js-dot"></span>
			                                </div>
			                                <div class="service-icon-item">
			                                    <img src="images/service-icon-4.png" alt="">
			                                </div>
										</div>
										<div class="service-text">
											<h5>gastronomy</h5>
											<p>It is a long established fact that a reader will be distracted.</p>
										</div>
									</div>
								</div>
							</div>
			    		</div>
		    		</div>
		    	</div>
		    </section>

		    <!-- SPECIALITIES -->
		    <section class="section-primary pb-101">
		    	<div class="container">
					<div class="section-header">
						<h2>Our Services</h2>
						<span>~ Delicious foods ~</span>
					</div>	
		    	</div>
		    	<div class="block-carousel">
					<!-- OWL-CAROUSEL -->
					<div class="owl-carousel owl-theme style" id="special-carousel-center">
					    <div class="item">
					    	<a href="shop-single.html">
					    		<img src='Images/1.jpg' alt="">
					    	</a>
					    </div>
					    <div class="item">
					    	<a href="shop-single.html">
					    		<img src='Images/2.jpg' alt="">
					    	</a>
					    </div>
					    <div class="item">
					    	<a href="shop-single.html">
					    		<img src='Images/3.jpg' alt="">
					    	</a>
					    </div>
					    <div class="item">
					    	<a href="shop-single.html">
					    		<img src='Images/4.jpg' alt="">
					    	</a>
					    </div>
					    <div class="item">
					    	<a href="shop-single.html">
					    		<img src='Images/5.jpg' alt="">
					    	</a>
						</div>
						<div class="item">
							<a href="shop-single.html">
								<img src='Images/6.jpg' alt="">
							</a>
						</div>
						<div class="item">
							<a href="shop-single.html">
								<img src='Images/7.jpg' alt="">
							</a>
						</div>
						<div class="item">
							<a href="shop-single.html">
								<img src='Images/8.jpg' alt="">
							</a>
						</div>
						<div class="item">
							<a href="shop-single.html">
								<img src='Images/9.jpg' alt="">
							</a>
						</div>
						<div class="item">
							<a href="shop-single.html">
								<img src='Images/10.jpg' alt="">
							</a>
						</div>
						
					</div>
					
					<div class="special-box-slider">
						<div class="container">
							<!-- OWL-CAROUSEL -->
							<div class="owl-carousel owl-theme" id="special-carousel-box">
							    <div class="item">
							    	<div class="special-box">
										<div class="inner">
											<h3>
												<a href="shop-single.html">Punjabi Catering</a>
											</h3>
											<p><h6>Our Punjabi specialties whether non-vegetarian or vegetarian are prepared using class 1 ingredients and expert knowledge, for which we continue to receive customer recommendations today.</h6></p>
											<div class="star-rating">
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
											</div>
										</div>
									</div>	
							    </div>
							    <div class="item">
							    	<div class="special-box">
										<div class="inner">
											<h3>
												<a href="shop-single.html">Vegetarian Catering</a>
											</h3>
											
											<p><h6>We endeavor to observe religious requirements and preferences. Our vegetarian catering is very well appreciated as are our preparation methods. We specialize in without onion-garlic food also.</h6></p>
											<div class="star-rating">
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
											</div>
										</div>
									</div>	
							    </div>
							    <div class="item">
							    	<div class="special-box">
										<div class="inner">
											<h3>
												<a href="shop-single.html">Chinese Catering</a>
											</h3>

											<p><h6>Chinese food very much compliments Indian food. We have many clients who request a mixed menu so that guests have the choice to combine the two if they wish.</h6> </p>
											<div class="star-rating">
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>
												<i class="zmdi zmdi-star"></i>

											</div>
										</div>
									</div>	
							    </div>
							    <div class="item">
							    	<div class="special-box">
										<div class="inner">
											<h3>
												<a href="shop-single.html">Corporate Catering</a>
											</h3>
											
											<p><h6>Finding the right caterer for your corporate catering is the deal clincher for a successful event. Food is the one feature of the event that is sure to be commented on and remembered by every guest.</h6></p>
											<div class="star-rating">
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>

											</div>
										</div>
									</div>	
							    </div>
							    <div class="item">
							    	<div class="special-box">
										<div class="inner">
											<h3>
												<a href="shop-single.html">Event Catering</a>
											</h3>
											
											<p><h6>What began as event catering for Indian weddings and other Indian family celebrations has evolved into an events catering company which can organize the most logistically challenging of events.</h6></p>
											<div class="star-rating">
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													
											</div>
										</div>
									</div>	
								</div>
								<div class="item">
										<div class="special-box">
											<div class="inner">
												<h3>
													<a href="shop-single.html">Party Catering</a>
												</h3>
												
												<p><h6>We are equally proficient in organizing events in new locations and will liaise with the venue to ensure that the venue team has every confidence in the abilities of our company.</h6></p>
												<div class="star-rating">
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>

												</div>
											</div>
										</div>	
								</div>
								<div class="item">
										<div class="special-box">
											<div class="inner">
												<h3>
													<a href="shop-single.html">Bar Service</a>
												</h3>
												
												<p><h6>Our professional, down to earth, smart bartenders serve one of a kind drink recipe with class and sophistication. Each bar catering package is personalized to suit your specific theme or event.</h6></p>
												<div class="star-rating">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>

												</div>
											</div>
										</div>	
								</div>
								<div class="item">
										<div class="special-box">
											<div class="inner">
												<h3>
													<a href="shop-single.html">Budget Parties</a>
												</h3>
												
												<p><h6>Your banqueting menu will be tailor-made as per your specific requirements. Our banqueting selector is suitably trained to enable you to choose from many appetizing dishes that will suit your palate.</h6></p>
												<div class="star-rating">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>

												</div>
											</div>
										</div>	
								</div>
								<div class="item">
										<div class="special-box">
											<div class="inner">
												<h3>
													<a href="shop-single.html">Event Services</a>
												</h3>
												
												<p><h6>We rise to the challenges of working in new venues, especially those where service of Indian food may be a first time experience. Whether it is a special family event or a corporate entertaining event, the Blend spice6 team has the knowledge and flair to make any event absolutely bespoke and memorable.</h6></p>
												<div class="star-rating">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>

												</div>
											</div>
										</div>	
								</div>
								<div class="item">
										<div class="special-box">
											<div class="inner">
												<h3>
													<a href="shop-single.html">Wine and Cheese Party</a>
												</h3>
												
												<p><h6>Are you having a wine and cheese party? Choose one of our delightful and exceptionally appealing cheese platters for your upcoming occasion.</h6></p>
												<div class="star-rating">
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>
														<i class="zmdi zmdi-star"></i>

												</div>
											</div>
										</div>	
								</div>
							

							</div>
						</div>
					</div>
				</div>
			</section>
			<br>
			<br>

			<!-- OUR MENU -->
		    <section class="section-primary pt-133 pb-113">
		    	<div class="container">
					<div class="section-header">
						<h2>A Glimpse Of Our Menu</h2>
						<span>~ See what we offer ~</span>
					</div>		
		    	</div>
		    	<div class="menu-container">
		    		<!-- MIDDLE-IMAGE -->
		    		<div class="container">
	    				<div class="middle-image text-center">
	    					<img src="Images/chef.jpg" alt="">
	    					
	    				</div>
			    	</div>
			    	<!-- MENU PUSH -->
			    	<div class="container menu-push">
			    		<div class="row justify-content-between">
			    			<div class="col-md-auto col-lg-5 col-xl-5 menu-left">
		    					<div class="our-menu-col mt-60">
									<div class="heading">
										<h3 class="bold-color">Indian Main Course</h3>
										
									</div>
									<div class="body">
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Paneer Kaliyan</li>	
											</h5>
											<ul>
												<li>
												<p>Cottage cheese combined with blanched almonds and chana dal and cooked in fresh indian spices.</p>
												</li>
											</ul>
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Kadai Hari Sabzi</li>										
							
											</h5>
											<ul>
												<li>
													<p>Spring onions, cucumber, French beans, snow peas, Brussels sprout, fenugreek leaves & mint leaves tossed in the wok with freshly pounded red and black peper and rock salt.</p>
												</li>
											</ul>
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Mirchi ka Salan</li>
										
											</h5>
											<ul>
												<li>
													<p>A rich and spicy gravy with stuffed large green chilies</p>
												</li>
												
											</ul>
										</div>
									</div>
								</div>
								<div class="our-menu-col mb-md-0">
									<div class="heading">
										<h3 class="bold-color">Mexican Main Course </h3>
									
									</div>
									<div class="body">
										<div class="menu-item">
											<h5 class="bold-color">
											<li>Taco Bar Beracruz Sauce</li>
												
											</h5>
											<ul>
												<li>
													<p>Beans & Cheese Mushroom, Broccoli Cheese , Spinach Potato</p>
												</li>
												
											</ul>
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Mexican Wrap</li>													
											</h5>
											<ul>
												<li>
													<p>Assorted filling of Paneer Potato, Spinach-Corn, Mushroom & Tomato</p>
												</li>
												
											</ul>
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Baritoes Enchilada Sauce</li>												
											</h5>
											<ul>
												<li>
													<p>Lettuce, Tomato topped with Enchilada Sauce</p>
												</li>
												
											</ul>
										</div>
									</div>
								</div>
			    			</div>
			    			<div class="col-md-auto col-lg-5 offset-lg-1 col-xl-5 offset-xxl-0 menu-right">
		    					<div class="our-menu-col mt-60">
									<div class="heading">
										<h3 class="bold-color">Chinese Main Course</h3>
										
									</div>
									<div class="body">
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Vegetable Manchurian</li>
												
											</h5>
											<ul>
												<li>
													<p>This dish is made of deep fried mixed vegetable dumplings tossed in Chinese sauces</p>
												</li>
												
											</ul>
											
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Vegetable in Thai RED curry with Steamed Rice</li>																							
											</h5>
											<ul>
												<li>
													<p>It’s warm, comforting, and perfect for cool days. It’s a little rich, too, but so full of vegetables that it doesn’t feel too indulgent.</p>
												</li>
												
											</ul>
											
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Vegetable Chilli Paneer with Gravy</li>												
											</h5>
											<ul>
												<li>
													<p>A popular indo chinese street food of india which is mainly served as a side dish to indo chinese rice recipes.</p>
												</li>
												
											</ul>
										</div>
									</div>
								</div>
								<div class="our-menu-col mb-0">
									<div class="heading">
										<h3 class="bold-color">Desserts</h3>
										
									</div>
									<div class="body">
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Kesar Gulabjal Jalebi</li>												
											</h5>
											<ul>
												<li>
													<p>An Indian sweet made of a coil of batter fried and steeped in syrup)</p>
												</li>
												
											</ul>
											
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Narangi Malpua</li>												
											</h5>
											<ul>
												<li>
													<p>Malpua is a popular dessert recipe of North Indian cuisine</p>
												</li>	
											</ul>
											
										</div>
										<div class="menu-item">
											<h5 class="bold-color">
												<li>Chilled Kesar Rabri</li>	
											</h5>
											<ul>
												<li>
													<p>A fairly traditional kind of Indian dessert Kesari Rabdi is found in most North Indian weddings</p>
												</li>
												
											</ul>
											
										</div>
									</div>
								</div>
			    			</div>
			    		</div>
			    	</div>
				</div>
				<br>
				<br>
			
				<div style="display: flex">
				<div style="margin: auto">
					<a href="menu.html">
						<button class = "au-btn round has-bg medium au-btn--hover">Detailed Menu</button>
					</a>
					<a href="shop.html">
							<button class = "au-btn round has-bg medium au-btn--hover">Create Your Menu</button>
						</a>
				</div>
				</div>
				  
		    </section>

		

		    <!-- OUR CHEF -->
		    <section class="section-primary pb-50 our-chef">
		    	<div class="container">
    				<div class="section-header">
						<h2>How We Started!!!</h2>
						<span>~ Experience & Enthusiasm ~</span>
					</div>			
					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="our-chef-item">
								
								<img src="Images/yo.jpg">
								
								<div class="info">
										<div class= "centered">
											   <p>
												   	Blend Spice6 Caterers was created in 2006 out of a passion for amazing food & service. 
											 	  	<br>One-man operation having a 25 year experience in food & beverage catering industry saw the need for traditionally and culturally rich Indian food.  
											  		From the word of mouth, a lot of hard work and a commitment to producing one of a kind finest events, Blend Spice6 Catering has become one of the most beloved caterer in Delhi/NCR.  
												    At Blend Spice6 Catering we believe that using fresh of the freshest ingredients produces the best food experience ever.  
											   		We are tireless in staying updated of latest food trends that can make out guests feel the food that is modern but also rich in traditions and cultures. 
											   		We at BS6 Catering are obsessed with making customized menus for our valuable guests and exclusive masterpieces for our guests. 
											   <br>
											   Simply : we exist to make your vision a reality
												</p>
											</div>
									<div class="inner">
										
							    		<div class="social">
											<a href="#">
												<i class="zmdi zmdi-twitter"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-facebook-box"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-linkedin"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-instagram"></i>
											</a>
										</div>
							    	</div>
								</div>
								
							</div>
						</div>
						
						
						
					</div>
		    	</div>
		    </section>

		    <!-- PARTNER -->
		    <div class="container">
		    	<div class="partner has-bd">
					<div class="row justify-content-between">
			    		<div class="col-6 col-lg-auto text-center">
			    			<a href="#" class="image-holder">
					    		<img src="Images/bar.png" alt="" class="wow zoomIn" data-wow-delay="0.3s">
					    	</a>
			    		</div>
			    		<div class="col-6 col-lg-auto text-center">
			    			<a href="#" class="image-holder">
					    		<img src="Images/chatori.png" alt="" class="wow zoomIn" data-wow-delay="0.5s">
					    	</a>
			    		</div>
			    		<div class="col-6 col-lg-auto text-center">
			    			<a href="#" class="image-holder">
					    		<img src="Images/logo-GMF.png" alt="" class="wow zoomIn" data-wow-delay="0.7s">
					    	</a>
			    		</div>
			    		<div class="col-6 col-lg-auto text-center">
			    			<a href="#" class="image-holder">
					    		<img src="Images/wok.png" alt="" class="wow zoomIn" data-wow-delay="0.9s">
					    	</a>
			    		</div>
			    	</div>		
		    	</div>
		    </div>
		</main>
		
		<footer>
				<div class="container ft-upper">
					<div class="row">
						<div class="col-lg-6 offset-lg-6">
							<div class="ft-top fixed text-md-left">
								<div class="row justify-content-between">
									<div class="col-md-5 offset-md-1 offset-lg-0 col-lg-6 ft-col">
										<a href="front">
											<img src="images/logo.png" alt="">
										</a>
									
										<!-- SOCIAL -->
										<div class="social">
											<a href="#">
												<i class="zmdi zmdi-twitter"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-facebook-box"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-linkedin"></i>
											</a>
											<a href="#">
												<i class="zmdi zmdi-instagram"></i>
											</a>
										</div>
									</div>
									<div class="col-md-5 col-lg-6 ft-col mt-51 pl-64">
										<h6>Address</h6>
										<!-- CONTACT -->
										<div class="contact-part">
											<div class="contact-line">
												<span class="zmdi zmdi-home"></span>
												<span>309, Aggarwal Shopping Centre, LSC, CD Block, Pitampura, New Delhi-110034</span>
											</div>
											<div class="contact-line">
											
													<span class="zmdi zmdi-phone"></span>
													<span>+91-9810480380 <br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91-9210404273</span>
											
											</div>
											
											<div class="contact-line">
												
													<span class="zmdi zmdi-email"></span>
													<span> blendspice6@gmail.com </span>
											
											</div>			
											<div class="contact-line">
												<span class="zmdi zmdi-alarm"></span>
												<span>Mon - Sat: 7AM - 10PM</span>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid ft-push">
					<div class="row h-100">
						<div class="col-lg-6 px-0 ft-image">
							<img src="images/g15.jpg" alt="">
						
				</div>
			</footer>

		<!-- CLICK TO TOP -->
		<div class="click-to-top">
		    <span class="zmdi zmdi-star"></span>
		</div>

		<!-- jQUERY -->
		<script data-cfasync="false" src="./JS/email.js"></script><script src="./JS/jquery3.3.1.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="./JS/bootstrap.min.js"></script>
		<script src="./JS/bootstrap.js"></script>

		<!-- Slider Revolution core JavaScript files -->
        <script src="./JS/themepunch.js"></script>
        <script src="./JS/themepunch-rev.js"></script>

        <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING --> 
		<script src="./JS/revex1.js"></script>
        <script src="./JS/revex2.js"></script>
        <script src="./JS/revex3.js"></script>
        <script src="./JS/revex4.js"></script>
        <script src="./JS/revex5.js"></script>
        <script src="./JS/revex6.js"></script>
        <script src="./JS/revex7.js"></script>
        <script src="./JS/revex8.js"></script>
        <script src="./JS/revex9.js"></script>

		

		<!-- CAROUSEL JS -->
		<script src="./JS/carousel.js"></script>

		<!-- SWEET ALERT -->
		<script src="./JS/sweetalert.js"></script>

		<!-- SIDENAV MOBILE -->
		<script src="./JS/mobilenav.js"></script>

		<!-- JQUERY TIMEPICKER -->
		<script src="./JS/timepicker.js"></script>

		<!-- CIRCLE PROGRESS -->
		<script src="./JS/circleprog.js"></script>
		<script src="./JS/circleprog2.js"></script>

		<!-- WOW -->
        <script src="./JS/wow.min.js"></script>

		<script src="./JS/main.min.js"></script>
	
	</form>
	</body>
</html>