
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel='shortcut icon' type='image/x-icon' href='Images/logo.png' />
		<title>BlendSpice6</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="CSS/fonts/linearicon.css">

        <!-- FONTAWESOME 5 -->
        <link rel="stylesheet" href="CSS/fonts/fontawesome.css">

        <!-- LIGHT GALLERY -->
        <link rel="stylesheet" href="CSS/vendor/lightgallery.css">
        
        <!-- DATE-PICKER -->
		<link rel="stylesheet" href="CSS/vendor/datepicker.css">
        
        <!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="CSS/fonts/material-design.css">
		
		<!--ICOMOON FONT-->
		<link rel="stylesheet" href="CSS/fonts/icomoon.css">

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="CSS/vendor/bootstrap.min.css">

        <!-- JQUERY TIME PICKER -->
        <link rel="stylesheet" href="CSS/vendor/timepicker.css">

		<!--FLEXISLIDER-->
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider.css">
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider2.css">
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider3.css">

		<!-- owl-carousel -->
	    <link rel="stylesheet" href="CSS/vendor/min-carousel.css">
	    <link rel="stylesheet" href="CSS/vendor/carousel.css">

	    <!-- ANIMATE -->
	    <link rel="stylesheet" href="CSS/animate.css">

	  

        <!-- SIDENAV MOBILE -->
        <link rel="stylesheet" href="CSS/vendor/mobilenav.css">

	    <!-- STYLE CSS -->
		<link rel="stylesheet" href="CSS/style.css" />		

		
		<script type="text/javascript">
			window.$crisp=[];
			window.CRISP_WEBSITE_ID="8bbde3b1-0b38-4401-8002-60fd8044b4b6";
			(function()
			{
				d=document;
				s=d.createElement("script");
				s.src="https://client.crisp.chat/l.js";
				s.async=1;
				d.getElementsByTagName("head")[0].appendChild(s);
			})();
		</script>

		<script src="JS/modernizr-2.6.2.min.js"></script>

		<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="23553c7b-e780-4b08-83a2-8f03b65cf606";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
	</head>
	
	<body class="preload">

		<!-- PAGE LOADER -->
		<div class="images-preloader">
		    <div id="preloader" class="rectangle-bounce">
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		    </div>
		</div>
		
        <header>
            <!-- HEADER ON DESKTOP -->

            <nav class="navbar navbar-desktop ">
                    <div class="left">
                            <a href="front" class="logo">
                                <img src="Images/logo.png" alt="img">
                            </a>
                        </div>
                
                
                <ul>
                    <li>
                        <a href="front">
                            Home
                        </a>
                        
                        
                    </li>
                    <li class="has-children">
                            <a href="#">
                                Page
                            </a>
                            <div class="sub-menu">
                                <div class="wrapper">
                                    <ul>
                                        <li>
                                            <a href="about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact">Contact Us</a>
                                        </li>
                                        
                                        <li >
                                            <a href="gallery">Gallery
                                                
                                            </a>
                                            
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                        <a href="menu">
                            Menu
                        </a>
                    </li>
					<li>
							<a href="Shop">
								Shop
							</a>
						</li>
                   
                </ul>
                
            </nav>

            <!-- HEADER ON MOBILE -->
            <nav class="navbar-mobile">
                <div class="container">
                    <div class="heading">
                        <div class="left">
                            <a href="#" class="navbar-mobile__toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <a href="front" class="logo">
                                <img src="Images/logo.png" alt="img">
                            </a>
                        
                    </div>
                </div>
                <nav id="main-nav">
                    <ul>
                        <li class>
                            <a href="/front" >Home</a>
                            
                        </li>
                        <li>
                            <a href="#">
                                Page
                            </a>
                            <ul>
                                <li>
                                    <a href="about">About Us</a>
                                </li>
                                <li>
                                    <a href="contact">Contact Us</a>
                                </li>
                                
                                <li>
                                    <a href="gallery">Gallery</a>
                                    
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="menu">
                                Menu
                            </a>
						</li>
						
						<li>
								<a href="shop">
									Shop
								</a>
							</li>
                        
                       
                    </ul>
                </nav>
            </nav>
        
        </header>
		
		
			<!-- PAGE INFO -->
			<section class="page-info set-bg" data-image-src="images/gallery-bg.jpg">
				<div class="section-header">
					<h1 class="text-white">Our Gallery</h1>
					<span>~ More than you know ~</span>
				</div>
			</section>

	<!-- GALLERY -->
	<!--
	<section class="section-primary pt-120 pb-90 gallery masonry wide">
		
		<div class="container-fluid">
			<div class="masonry-wrapper">
				<a href="#" class="image-holder">
					<img src="images/g1.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g2.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Quisque sit</h6>
							<span>Cake</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder fix-image">
					<img src="images/g3.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nulla facilisi</h6>
							<span>Cake</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g4.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Vestibulum eu</h6>
							<span>Cake</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g5.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Aenean luctus</h6>
							<span>Pizza</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder fix-image">
					<img src="images/g6.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Tristique eu </h6>
							<span>Cake</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g7.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Vel faucibus </h6>
							<span>Fruit</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g8.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Cras lobortis</h6>
							<span>Cake</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g9.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g10.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g11.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g12.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g13.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				<a href="#" class="image-holder">
					<img src="images/g14.jpg" alt="">
					<div class="frame"></div>
					<div class="inner">
						<div class="info">
							<h6>Nemo enim ipsam</h6>
							<span>Sea food</span>
						</div>
					</div>
				</a>
				
			</div>
		</div>
    -->
	<section class="section-primary pt-120 pb-90 gallery masonry wide">
				
		<div class="container-fluid">
		{% for data in data %}
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" >
							<img class="card-img-top" ng-src = "{data.imagelink}">
							<h5>{{data.Product_name}}</h5>
							<div class="inner">
								<p>
									<a href="/cart" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
								<h3><a href="/cart" class="icon" >{{data.Product_name}}</a></h3>

						</div>
					</div>
				</div> 
				</div>  
	{% endfor %}
	</div>
	</section>
    
	

		
<footer>
		<!-- FOOTER TOP -->
		<div class="ft-top">
			<div class="container">
				<div class="ft-top-wrapper">
					<div class="ft-logo">
						<a href="index">
							<img src="images/logo.png" alt="">
						</a>
					</div>
					<div class="row justify-content-between justify-content-xl-start">
						<div class="col-md-3  ft-col">
							<h6>About Us</h6>
							<p>We at BlendSpice6 try our best to fulfill the needs of our customers and provide them the best experience.</p>
						</div>
						<div class="col-md-5  col-xl-4 offset-xl-1 ft-col">
							
							
							<div class="social">
								<a href="#">
									<i class="zmdi zmdi-twitter"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-facebook-box"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-linkedin"></i>
								</a>
								<a href="#">
									<i class="zmdi zmdi-instagram"></i>
								</a>
							</div>
						</div>
						<div class="col-md-3 col-xl-2  ml-xl-auto ft-col">
							<h6>Call us At</h6>
							<p>+91-9810480380 <br> 	 +91-9210404273</p>
							<p>Mon - Sat: 10AM - 10PM</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
	</footer>

			<!-- CLICK TO TOP -->
            <div class="click-to-top">
                <span class="lnr lnr-arrow-up"></span>
            </div>
    
            <!-- jQUERY -->
            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="JS/jquery-3.3.1.min.js"></script>
    
            <!-- CLICK TO TOP -->
            <div class="click-to-top">
                    <span class="zmdi zmdi-star"></span>
                </div>
        
                <!-- jQUERY -->
                <script data-cfasync="false" src="JS/email.js"></script><script src="JS/jquery3.3.1.js"></script>
        
                <!-- BOOTSTRAP JS -->
                <script src="JS/bootstrap.min.js"></script>
                <script src="JS/bootstrap.js"></script>
        
                <!-- Slider Revolution core JavaScript files -->
                <script src="JS/themepunch.js"></script>
                <script src="JS/themepunch-rev.js"></script>
        
                <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING --> 
                <script src="JS/revex1.js"></script>
                <script src="JS/revex2.js"></script>
                <script src="JS/revex3.js"></script>
                <script src="JS/revex4.js"></script>
                <script src="JS/revex5.js"></script>
                <script src="JS/revex6.js"></script>
                <script src="JS/revex7.js"></script>
                <script src="JS/revex8.js"></script>
                <script src="JS/revex9.js"></script>
        
                
        
                <!-- CAROUSEL JS -->
                <script src="JS/carousel.js"></script>
        
                <!-- SWEET ALERT -->
                <script src="JS/sweetalert.js"></script>
        
                <!-- SIDENAV MOBILE -->
                <script src="JS/mobilenav.js"></script>
        
                <!-- JQUERY TIMEPICKER -->
                <script src="JS/timepicker.js"></script>
        
        
                <!-- WOW -->
                <script src="JS/main.min.js"></script>
            
                <!-- JQUERY UI -->
                <script src="JS/jquery-ui.js"></script>
    
                <!-- DATE-PICKER -->
                <script src="JS/datepicker.js"></script>
                <script src="JS/datepicker-en.js"></script>
                
                <!-- LIGHT GALLERY -->
                <script src="JS/lightgallerymousewheel.js"></script>
                <script src="JS/lightgallery.js"></script>
            
                <!-- MAP JS-->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmXgQ65zpsjsEAfNPP9mBAz-5zjnIZBw"></script>
                <script src="JS/theme-map.js"></script>
            
          
	</body>
</html>