<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel='shortcut icon' type='image/x-icon' href='Images/logo.png' />
		<title>BlendSpice6</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="CSS/fonts/linearicon.css">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="CSS/fonts/material-design.css">
		
		<!--ICOMOON FONT-->
		<link rel="stylesheet" href="CSS/fonts/icomoon.css">

		<!-- METRO ICONIC FONT -->
		<link rel="stylesheet" href="CSS/fonts/metro-icons.css">

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="CSS/vendor/bootstrap.min.css">


		<!--FLEXISLIDER-->
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider.css">
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider2.css">
		<link rel="stylesheet" type="text/css" href="CSS/vendor/revolution-slider3.css">

		<!-- owl-carousel -->
	    <link rel="stylesheet" href="CSS/vendor/min-carousel.css">
	    <link rel="stylesheet" href="CSS/vendor/carousel.css">

	    <!-- ANIMATE -->
	    <link rel="stylesheet" href="CSS/animate.css">

	  

        <!-- SIDENAV MOBILE -->
        <link rel="stylesheet" href="CSS/vendor/mobilenav.css">

	    <!-- STYLE CSS -->
		<link rel="stylesheet" href="CSS/style.css" >
		<link rel="stylesheet" href="CSS/style1.css">	
		
		
		<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="23553c7b-e780-4b08-83a2-8f03b65cf606";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
	
	</head>
	
	<body class="preload">
	
		<!-- PAGE LOADER -->
		<div class="images-preloader">
		    <div id="preloader" class="rectangle-bounce">
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		        <span></span>
		    </div>
		</div>
		
		<header>
			<!-- HEADER ON DESKTOP -->

			<nav class="navbar navbar-desktop navbar-dark">
					<div class="left">
							<a href="front" class="logo">
								<img src="Images/logo.png" alt="Royate">
							</a>
						</div>
				
				
				<ul>
					<li>
						<a href="front">
							Home
						</a>
						
						
					</li>
					<li class="has-children">
							<a href="#">
								Page
							</a>
							<div class="sub-menu">
								<div class="wrapper">
									<ul>
										<li>
											<a href="about">About Us</a>
										</li>
										<li>
											<a href="contact">Contact Us</a>
										</li>
										
										<li >
											<a href="gallery">Gallery
												
											</a>
											
										</li>
										
										
									</ul>
								</div>
							</div>
						</li>
						<li>
						<a href="menu">
							Menu
						</a>
					</li>
					<li>
							<a href="shop">
								Shop
							</a>
						</li>
					
					
				</ul>
				
			</nav>

			<!-- HEADER ON MOBILE -->
			<nav class="navbar-mobile">
				<div class="container">
					<div class="heading">
						<div class="left">
							<a href="#" class="navbar-mobile__toggler">
								<span></span>
								<span></span>
								<span></span>
							</a>
						</div>
						<a href="front" class="logo">
								<img src="Images/logo.png" alt="Royate">
							</a>
						
					</div>
				</div>
				<nav id="main-nav">
					<ul>
						<li class>
							<a href="front" >Home</a>
							
						</li>
						<li>
							<a href="#">
								Page
							</a>
							<ul>
								<li>
									<a href="about">About Us</a>
								</li>
								<li>
									<a href="contact">Contact Us</a>
								</li>
								
								<li>
									<a href="gallery">Gallery</a>
									
								</li>
								
							</ul>
						</li>
						<li>
							<a href="menu">
								Menu
							</a>
						</li>
						
						<li>
								<a href="shop">
									Shop
								</a>
							</li>
						
					</ul>
				</nav>
			</nav>
		

		</header>
		
		<main>
			<!-- PAGE INFO -->
			
			<div class="page-info">
					<section class="page-info set-bg" data-image-src="./Images/page-info-bg-3.jpg">
			  
				<div class="section-header">
					<h1 class="text-white">Our menu</h1>
					<span>~ See what we offer ~</span>
				</div>
				</section>
			
			</div>

			<!-- MAIN COURSE -->
			<section class="section-primary menu-page pb-120">
				<div class="container">
					<div class="section-header">
						<h2> Starters ( charcoal grill)</h2>
						<span>~ Qualities in each dish ~</span>
					</div>	
					<div class="row">
						<div class="col-md-6 menu-holder left">
							
								
						
							<div class="menu-item">
								<h5 class="bold-color">
									<p style="color: black">Broccoli Mawa Kebab</p>
									<span class="dots"></span>
								
								</h5>
								<ul>
									<li>
										<p style="color: grey">(Flowers of broccoli marinated with Malai, grilled on charcoal grill)</p>
									</li>
									
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Dudhiya Paneer Tikka</p>
									<span class="dots"></span>
									
								</h5>
								<ul>
									<li>
										<p style="color: grey">(Cottage cheese tikka marinated in yoghurt, cheese spread, green chilly paste flavoured with green cardamom powder) </p>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Tandoori Aloo Shehjadi</p>
									<span class="dots"></span>
									
								</h5>
								<ul>
									<li>
										<p style="color: grey">(Potato Barrels stuffed with cottage cheese, Cashewnuts caraway seeds Pomegranate & curry Patta) </p>
									</li>
								
								</ul>
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Tandoori Mushroom</p>
									<span class="dots"></span>
									
								</h5>
							
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
						
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Tandoori Gobhi</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Poodine Gajar Reshmi Kebab</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder left mb-md-0">
						
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Qabuli Tikki</p>
									<span class="dots"></span>
									
								</h5>
								<ul>
									<li>
										<p style="color: grey">(A Chick Pea, Onion & Green Chilly Patty Served with spicy Chutney)</p>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right mb-0">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Begum Bahar</p>
									<span class="dots"></span>
									
								</h5>
										<p style="color: grey">(American Corn, Cottage Cheese & Fresh Seasonal Vegetables Lightly Spiced & Cooked on Skewer)</p>
							</div>
						</div>
					</div>	
				</div>
			</section>

			<!-- 	oriental starters-->
			<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/menu-block-bg.jpg">
				
				<div class="section-header">
					<h2 class="text-white">Oriental Starters</h2>
				</div>
			</section>
			</div>

			<section class="section-primary menu-page pb-120">
				<div class="container">
					<div class="row">
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Stuffed Mushroom Hakka Style</p>
									<span class="dots"></span>
				
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Golden Fried Baby Corn (served with Hot Garlic Dripping Sauce)</p>
									<span class="dots"></span>
									
								</h5>
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Szechwan Cottage Cheese & Sesame Seeds</p>
									<span class="dots"></span>
								
								</h5>
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Vegetable katori</p>
									<span class="dots"></span>
									
								</h5>
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Vegetable Spring Rolls</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Chilly Gobhi</p>
									<span class="dots"></span>
								
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder left mb-md-0">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Dry Manchurian</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right mb-0">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Crispy Vegetables Pepper & Salt</p>
									<span class="dots"></span>
								
								</h5>
							</div>
						</div>
					</div>	
				</div>
			</section>

			<!-- Chaat Display -->
			<div class="menu-block-bg">
				<section class="menu-block-bg set-bg" data-image-src="images/golgappe.jpg">
					
					<div class="section-header">
						<h2 class="text-white">Chaat Display</h2>
					</div>
				</section>
				</div>

			<section class="section-primary menu-page pb-120">
				<div class="container">
					<div class="row">
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Dilli ki bhalla papri chaat</p>
									<span class="dots"></span>
									
								</h5>
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
						
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Mumbai Paani poori » Heeng, Poodina, Regular & Meetha</p>
									<span class="dots"></span>
									
								</h5>
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Palak patta papri chaat</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Kanji Wada</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Mini mahal ki khaas matter ki tikki with Ragda</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Paneer Mewa, chilla</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder left mb-md-0">
						
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Desi Mattar Kulcha</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						<div class="col-md-6 menu-holder right mb-0">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Amchi Mumbai special pao bhaji</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
					</div>	
				</div>
			</section>

			<!-- SOUTH INDIAN -->
			<div class="menu-block-bg">
				<section class="menu-block-bg set-bg" data-image-src="images/dosa.jpg">
					<div class="section-header">
						<h2 class="text-white">South Indian </h2>
						
					</div>
				</section>
			</div>

			<section class="section-primary menu-page pb-120">
				<div class="container">
					<div class="row">
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Choice of Dosa’s</p>
									<span class="dots"></span>
									
								</h5>
								<p>Masala Dosa, Mysore Dosa</p>
							</div>
						</div>
						<div class="col-md-6 menu-holder right">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Vegetable Tomato Uttappam with Sambhar & Chutney</p>
									<span class="dots"></span>
									
								</h5>
			
							</div>
						</div>
						<div class="col-md-6 menu-holder left">
							
							<div class="menu-item">
								<h5 class="bold-color">
										<p style="color: black">Idli, Vada</p>
									<span class="dots"></span>
									
								</h5>
								
							</div>
						</div>
						
						</div>
					</div>	
				</div>
			</section>
		</main>


		<!-- Soup station -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/soup.jpg">
				<div class="section-header">
					<h2 class="text-white"> Soup Station</h2>
					
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mangolian Pot Soup (LIVE)</p>
								<span class="dots"></span>
								
							</h5>
							<p> Served With :

								Boiled Potatoes, Red Onions, Crisp Brown Onion, Basil Leaves, Root Ginger, Raw Banana, Blanched Spinach, Green Onions, Chilly Oil, Lemon Wedge, Crispy Noodles, Boiled Rice, Mint Leaves, Curry Leaves, Grated Fresh Coconut, Fried Garlic Flakes, Green Cabbage</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Lemon & Coriander Soup</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Vegetable Hot & Sour Soup</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Vegetable Sweet Corn Soup</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Hot Bread Display with Different kinds of Herbs Butters</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>

		<!-- salads sation -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/salad.jpg">
				<div class="section-header">
					<h2 class="text-white"> Salads Station </h2>
					
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Kachumber & Sprouted Lentils</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Roasted Red Onion, French Bean, Black Olive & Feta Cheese Salad</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Beans Sprout and Vegetable Salad tossed in Lemon Dressing</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Ceasar’s Salad Made at Site with Assorted Garnishes – LIVE</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Apple Cole Slaw</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Lebanese Potato Salad</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Salad Mimosa, Waldrof Salad, Russian Salad</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mango and Pineapple Salad</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Californian Pistachio and Pasta Salad</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- continental  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/cont.webp">
				<div class="section-header">
					<h2 class="text-white"> Continental & Pasta </h2>
				
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Grilled Cottage Cheese & Spinach Steak with Barbeque Sauce</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Classic Spicy Au-Gratin with Exotic Vegetables</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Lasagna of Roasted Vegetables</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Zucchini Mousaka</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">CREPES Indiana</p>
								<span class="dots"></span>
								
							</h5>
							<p>(Pancake Rolled with Curried Vegetables & Baked with Pineapple & Coconut Powder)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Legumes Al Primavera</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Cubes of Broccoli, Baby Corn, Carrots, Mushroom, Cooked in Creamy Cheese Sauce )</p>
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">SGarlic Mushrooms, Bell peppers and Marrow with Parsley, Lemon & Chilli Flakes</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Swiss Roesti</p>
								<span class="dots"></span>
								
							</h5>
							<p> (With Olives, Gerkins, Silver Skin Onions and Salsa)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mojo Style New Potatoes and Grilled Corn Flavored with Paprika and Saffron</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Display of Hot Vegetables & Breads</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>
		

		<!-- pasta  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/pasta.webp">
				<div class="section-header">
					<h2 class="text-white"> Pasta Station </h2>
					
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Fettuccini Misto de Ver dine</p>
								<span class="dots"></span>
								
							</h5>
							<p> (fettuccini with vegetables, olives & cherry tomatoes in classical cheese Sauce)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Penne – with Pesto and Cherry Tomatoes</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Spaghetti – Chilli Garlic Mushrooms</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					</div>
				</div>	
			</div>
		</section>

		<!-- Roasti and veegies  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/veg.jpg">
				<div class="section-header">
					<h2 class="text-white"> Roasti and Veggies  </h2>
					
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Potato Roast with Onions, Mushroom & Cheese</p>
								<span class="dots"></span>
								
							</h5>
							<p> served with a selection of Vegetables (Broccoli, Baby Corn, Mushroom & Asparagus)</p>
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>

		<!-- Indian Cusinie  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/indian.jpg">
				<div class="section-header">
					<h2 class="text-white"> Indian Cuisine </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Paneer Kaliyan</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Cottage cheese combined with blanched almonds and chana dal and cooked in fresh indian spices.)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Shahi Paneer</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Kadai Hari Sabzi</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Spring onions, cucumber, French beans, snow peas, Brussels sprout, fenugreek leaves & mint leaves tossed in the wok with freshly pounded red and black peper and rock salt)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder right">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Tandoori Dum Aloo Kashmiri</p>
								<span class="dots"></span>
								
							</h5>
							<span> (Stuffed potato arranged in food pan & small portion of curry poured on top of it)</span>
							
						</div>
					</div>
					
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black"> Bhindi Anardana</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Choliya with Dhaniya Adraki</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Tawa Mushroom Jalfrezi</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Bagare Baingan</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Brinjal Preparation with sesame paste and Tamarind puree)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mirchi ka Salan</p>
								<span class="dots"></span>
								
							</h5>
							<p> (A rich and spicy gravy with stuffed large green chilies)</p>
							
						</div>
					</div><div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Karela Do Pyaza</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Crisped bitter gourd tossed with onions & tomatoes)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Heeng Dhaniya ke Chatpate Aloo</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Dam Ka Gobhi Pudina Adraki</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Soya keema</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Nutri nuggets, aloo, vadi curry made on tawa served with pao, lemon, green chilli, sirka pyaz)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Bhutta ka Bartha</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Char-grilled sweet corn cooked in masala with cream)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Paneer Kofta Mirchi Do Pyaaza</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Amritsar Chole</p>
								<span class="dots"></span>
								
							</h5>
							<p> (served with Khasta kulche & imli ki chutney)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Sarson Ka Saag with Makki ki Roti</p>
								<span class="dots"></span>
								
							</h5>
							<p>Ajwaini Mooli Lachcha, Shakkar and White Butter							</p>
							
						</div>
					</div>
					</div>
				</div>	
			</div>
		</section>
		

		<!-- Dal  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/dal.jpg">
				<div class="section-header">
					<h2 class="text-white"> Dal Station  </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Dal Bukhara</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Urad Aur Masoor Ki Dal with Palak Tempered (At Site)</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Kathal Ki Biryani</p>
								<span class="dots"></span>
								
							</h5>
							<p>(The Biryani made from Yam taste divine)	</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Hyderabadi Subz Biryani</p>
								<span class="dots"></span>
								
							</h5>
							<p>(Vegetable Biryani cooked in Hyderabadi Style)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Accompaniments</p>
								<span class="dots"></span>
								
							</h5>
							<p>Cucumber Raita, Pickle & Pappad</p>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- breads -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/naan.jpg">
				<div class="section-header">
					<h2 class="text-white"> Assorted breads  </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Choice of Naan (Lasuni, Makhni, Khamiri, Hari Mirch)</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Choice of Parantha (Lacchedar, Poodina, Paneer, Lal Mirch)</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Missi Masala Roti (With Gram Flour & Spices)</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Tandoori Roti, & Makki ki Roti</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- Amritsari Counter -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/amrit.webp">
				<div class="section-header">
					<h2 class="text-white"> Amritsari Counter  </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Amritsari Chana Masala</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Served with Aloo Pyaaz, Muli parantha & Amritsari Chutney) </p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Amritsari Palak Paneer</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Paneer Ki Bhurji</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Tadkhey Wali Dhaba Daal (Arhar)</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- Rajasthani Counter -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/raj.jpg">
				<div class="section-header">
					<h2 class="text-white"> Rajasthani Counter  </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Ganderi Paneer</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Barrels of cottage cheese stuffed and cooked in a rich tomato curry) </p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Stuffed Bhavnagri Chillies</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Large green chillies stuffed with spicy mung dal)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Pithore kadi</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Fried Khandvi in kadi)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Bajre ka Muthiya Sabzi</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Steamed Dumplings of bajra with gobhi & Matter)</p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Johdpuri Gatte ki Sabzi</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- Mexican  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/mexican.jpg">
				<div class="section-header">
					<h2 class="text-white"> Maxican Main Course </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Taco Bar Beracruz Sauce</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Beans & Cheese Mushroom, Broccoli Cheese , Spinach Potato) </p>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Baritoes Enchilada Sauce</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Lettuce, Tomato topped with Enchilada Sauce)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mexican Wrap</p>
								<span class="dots"></span>
								
							</h5>
							<p> (Assorted filling of Paneer Potato, Spinach-Corn, Mushroom & Tomato)</p>
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Assorted Vegetable Grilled with Jalapeno Butter & Sour Cream</p>
								<span class="dots"></span>
								
							</h5>
			
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Condiments: Flour Tortillas, Corn Chips, Salsa, Sour Cream, Guacamole</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
					
					</div>
				</div>	
			</div>
		</section>


		<!-- Chinese  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/chinese.jpg">
				<div class="section-header">
					<h2 class="text-white"> Chinese Main Course </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Vegetable Manchurian</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Vegetable Chilli Paneer with Gravy</p>
								<span class="dots"></span>
								
							</h5>
						
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Vegetable in Thai RED curry with Steamed Rice</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mangolian Vegetable</p>
								<span class="dots"></span>
								
							</h5>
			
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Sweet & Sour Vegetables</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
				<div class="col-md-6 menu-holder left">
					
					<div class="menu-item">
						<h5 class="bold-color">
								<p style="color: black">Vegetable Hakka Noodles</p>
							<span class="dots"></span>
							
						</h5>
					</div>
				</div>
			
			<div class="col-md-6 menu-holder left">
				
				<div class="menu-item">
					<h5 class="bold-color">
							<p style="color: black">Crispy Stewed Noodles</p>
						<span class="dots"></span>
						
					</h5>
				</div>
			</div>
		
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Fried Rice</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
					
	</div>
</div>	
</div>
</section>


		<!-- deserts  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/d1.jpg">
				<div class="section-header">
					<h2 class="text-white"> Desserts </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Kesar Gulabjal Jalebi</p>
								<span class="dots"></span>
								
							</h5>
						
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Chilled Kesar Rabri</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Narangi Malpua</p>
								<span class="dots"></span>
								
							</h5>
			
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Gulab Jamun</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
				
				<div class="col-md-6 menu-holder left">
					
					<div class="menu-item">
						<h5 class="bold-color">
								<p style="color: black">Moong Dal Halwa</p>
							<span class="dots"></span>
							
						</h5>
					</div>
				</div>
			
			<div class="col-md-6 menu-holder left">
				
				<div class="menu-item">
					<h5 class="bold-color">
							<p style="color: black">Badam Ka Halwa</p>
						<span class="dots"></span>
						
					</h5>
				</div>
			</div>
		
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Gajar Ka Halwa</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Chilled Kesar Badaam Kheer</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Kulfi Falooda</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
		
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Kulfi Nuts Kesari Tile Wali</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>

					
		</div>
		</div>	
		</div>
		</section>


		<!-- Chinese deserts  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/d2.jpg">
				<div class="section-header">
					<h2 class="text-white"> Continental and Chinese Desserts </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Live Crepes Station – (Flambe)</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">(Strawberry, Kiwi, Apple, Banana)</p>
								<span class="dots"></span>
								
							</h5>
						
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">RaspBerry Charlotte</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Morello Cherry Mousse</p>
								<span class="dots"></span>
								
							</h5>
			
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">Mango Souffle</p>
								<span class="dots"></span>s
								
							</h5>
						</div>
					</div>
				
				<div class="col-md-6 menu-holder left">
					
					<div class="menu-item">
						<h5 class="bold-color">
								<p style="color: black">Lemon Cheese Cake</p>
							<span class="dots"></span>
							
						</h5>
					</div>
				</div>
			
			<div class="col-md-6 menu-holder left">
				
				<div class="menu-item">
					<h5 class="bold-color">
							<p style="color: black">Honey Nougat with Orange Sauce</p>
						<span class="dots"></span>
						
					</h5>
				</div>
			</div>
		
		<div class="col-md-6 menu-holder left">
		
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Tiramissu</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Irish Baileys Mousse Cake</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Feviliant Cake</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">BROWNIES</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Kashmiri Kahwa</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Hot Kesar Badam Milk, Tea-Coffee</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>

					
		</div>
		</div>	
		</div>
		</section>


		<!-- exotic fresh fruits  -->
		<div class="menu-block-bg">
			<section class="menu-block-bg set-bg" data-image-src="images/menu-block-bg-2.jpg">
				<div class="section-header">
					<h2 class="text-white"> Exotic Fresh Fruits Display </h2>
				</div>
			</section>
		</div>

		<section class="section-primary menu-page pb-120">
			<div class="container">
				<div class="row">
					<div class="col-md-6 menu-holder left">
					
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">CALIFORNIA GRAPES</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">THAI IMLI</p>
								<span class="dots"></span>
								
							</h5>
						
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">PINEAPPLE</p>
								<span class="dots"></span>
								
							</h5>
							
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">APRICOTS</p>
								<span class="dots"></span>
								
							</h5>
			
						</div>
					</div>
					<div class="col-md-6 menu-holder left">
						
						<div class="menu-item">
							<h5 class="bold-color">
									<p style="color: black">MANGOSTEEN</p>
								<span class="dots"></span>
								
							</h5>
						</div>
					</div>
				
				<div class="col-md-6 menu-holder left">
					
					<div class="menu-item">
						<h5 class="bold-color">
								<p style="color: black">SHARDA</p>
							<span class="dots"></span>
							
						</h5>
					</div>
				</div>
			
			<div class="col-md-6 menu-holder left">
				
				<div class="menu-item">
					<h5 class="bold-color">
							<p style="color: black">WATER MELON</p>
						<span class="dots"></span>
						
					</h5>
				</div>
			</div>
		
		<div class="col-md-6 menu-holder left">
		
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Australian cherries</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
		
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Dragon Fruit</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
		
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Water Soaked Badam</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Small Oranges</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Afgani Khajoor (No Seeds)</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Mango</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Kiwi</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Full bar set up stocked with soft drinks, soda, mineral water fresh and canned juices, imported syrups for cocktails and mock tails for making high quality and exclusive drinks with professional Barman in attendance.</p>
					<span class="dots"></span>
					
				</h5>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Punches</p>
					<span class="dots"></span>
					
				</h5>
				<p> Strawberry, Mango, Chickoo & Pineapple</p>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Fresh Juices</p>
					<span class="dots"></span>
					
				</h5>
				<p> Orange, Pineapple, Keenu, Mixed, Kanji, Chaach,Tomato, Watermelon & Strawberry</p>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Mocktails </p>
					<span class="dots"></span>
					
				</h5>
				<p> Strawberry, Kiwi, Mojito, Virgin Pinna, Blue Heaver & Italian Smooch</p>
			</div>
		</div>
		<div class="col-md-6 menu-holder left">
			
			<div class="menu-item">
				<h5 class="bold-color">
						<p style="color: black">Soft-Drinks </p>
					<span class="dots"></span>
					
				</h5>
				<p> Diet Coke, Mineral Water, Sprite, Limca & Orange</p>
			</div>
		</div>

					
		</div>
		</div>	
		</div>
		</section>


		<footer>
				<!-- FOOTER TOP -->
				<div class="ft-top">
					<div class="container">
						<div class="ft-top-wrapper">
							<div class="ft-logo">
								<a href="index">
									<img src="images/logo.png" alt="">
								</a>
							</div>
							<div class="row justify-content-between justify-content-xl-start">
								<div class="col-md-3  ft-col">
									<h6>About Us</h6>
									<p>We at BlendSpice6 try our best to fulfill the needs of our customers and provide them the best experience.</p>
								</div>
								<div class="col-md-5  col-xl-4 offset-xl-1 ft-col">
									
									
									<div class="social">
										<a href="#">
											<i class="zmdi zmdi-twitter"></i>
										</a>
										<a href="#">
											<i class="zmdi zmdi-facebook-box"></i>
										</a>
										<a href="#">
											<i class="zmdi zmdi-linkedin"></i>
										</a>
										<a href="#">
											<i class="zmdi zmdi-instagram"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-xl-2  ml-xl-auto ft-col">
									<h6>Call us At</h6>
									<p>+91-9810480380 <br> 	 +91-9210404273</p>
									<p>Mon - Sat: 10AM - 10PM</p>
								</div>
							</div>	
						</div>
					</div>
				</div>
				
			</footer>

		<!-- CLICK TO TOP -->
		<div class="click-to-top">
		    <span class="zmdi zmdi-star"></span>
		</div>

		<!-- jQUERY -->
		<script data-cfasync="false" src="JS/email.js"></script><script src="JS/jquery3.3.1.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="JS/bootstrap.min.js"></script>
		<script src="JS/bootstrap.js"></script>

		<!-- Slider Revolution core JavaScript files -->
        <script src="JS/themepunch.js"></script>
        <script src="JS/themepunch-rev.js"></script>

        <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING --> 
		<script src="JS/revex1.js"></script>
        <script src="JS/revex2.js"></script>
        <script src="JS/revex3.js"></script>
        <script src="JS/revex4.js"></script>
        <script src="JS/revex5.js"></script>
        <script src="JS/revex6.js"></script>
        <script src="JS/revex7.js"></script>
        <script src="JS/revex8.js"></script>
        <script src="JS/revex9.js"></script>

		

		<!-- CAROUSEL JS -->
		<script src="JS/carousel.js"></script>

		<!-- SWEET ALERT -->
		<script src="JS/sweetalert.js"></script>

		<!-- SIDENAV MOBILE -->
		<script src="JS/mobilenav.js"></script>

		<!-- JQUERY TIMEPICKER -->
		<script src="JS/timepicker.js"></script>

		<!-- CIRCLE PROGRESS -->
		<script src="JS/circleprog.js"></script>
		<script src="JS/circleprog2.js"></script>

		<!-- WOW -->
        <script src="JS/wow.min.js"></script>

		<script src="JS/main.min.js"></script>
	

	</body>
</html>